<ngx-spinner type="ball-spin-clockwise">
    <div class="flex h-screen m-auto items-center justify-center ">
        <div class="w-40 h-40 border-t-4 border-b-4 border-cyan-700 rounded-full animate-spin"></div>
    </div>
</ngx-spinner>
<div class="flex min-h-full">
    <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24 h-screen">
        <div class="mx-auto w-full max-w-sm lg:w-96">
            <div>
                <img routerLink="" class="mx-auto h-40 w-40"
                    src="./assets/img/Lovepik_com-400262015-green-plants-hand-painted-leaves.png" alt="Your Company">
                <h2 class="-mt-8 text-3xl font-bold tracking-tight text-gray-900">Forgot Password</h2>
                <p class="mt-2 text-sm text-gray-600">
                    Remember your password?
                    <button routerLink="/login" class="font-medium text-indigo-600 hover:text-indigo-500">Sign
                        in</button>
                </p>
            </div>

            <div class="mt-8">
                <div class="mt-6">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="space-y-6">
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                            <div class="mt-1">
                                <input formControlName="emailAddress" placeholder="example@mail.com" id="emailAddress"
                                    type="email" autocomplete="email"
                                    class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                <p *ngIf="forgotPasswordForm.controls['emailAddress'].invalid && forgotPasswordForm.controls['emailAddress'].touched"
                                    class="text-xs text-red-700 text-right italic font-extralight">
                                    *Please enter a valid email address
                                </p>
                            </div>

                        </div>
                        <p *ngIf="message && forgotPasswordForm.valid"
                            class="mt-2 text-sm text-red-600 dark:text-green-500"><span class="font-medium">Okay!</span>
                            {{message}}.</p>
                        <div>
                            <button [disabled]="forgotPasswordForm.invalid" (click)="onSubmit()" type="submit"
                                class="block w-full rounded-md bg-gradient-to-r from-teal-500 to-cyan-600 py-3 px-4 font-medium text-white shadow hover:from-teal-600 hover:to-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:ring-offset-2 focus:ring-offset-gray-900">Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block flex h-screen ">
        <div class="absolute inset-0 h-full w-full object-cover bg-[url('./assets/img/login.svg')] bg-cover bg-center">
            <div class="w-full h-full flex -mt-14 justify-center items-center 
        bg-white-900/60 backdrop-brightness-80">
                <h1
                    class="animate-pulse font-mono text-4xl text-center font-bold tracking-tight text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
                    <span class="block text-gray-800 text-5xl">Welcome to</span>
                    <span
                        class="block bg-gradient-to-r from-teal-200 to-cyan-400 bg-clip-text text-transparent sm:pb-5">Writer's
                        Meet
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>