<app-nav-bar></app-nav-bar>
<ngx-spinner type="ball-spin-clockwise">
  <div class="flex h-screen m-auto items-center justify-center ">
      <div class="w-40 h-40 border-t-4 border-b-4 border-cyan-700 rounded-full animate-spin"></div>
  </div>
</ngx-spinner>
<div *ngIf="isUserAuthenticated()">
  <ul role="list"
    class="grid grid-cols-2 mt-4 pl-4 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    <li *ngFor="let article of articles" class="relative">
      <div routerLink="/view-my-article/{{article.postId}}">
        <div
          class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
          <img src="http://localhost:5259/static/images/{{article.coverImagePath}}" alt=""
            class="pointer-events-none h-3000 object-cover group-hover:opacity-75">

        </div>
        <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">{{article.title}}</p>
        <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">
          {{article.category.categoryName}}</p>
        <time class="text-sm font-medium text-black">{{article.dateCreated | date : 'dd/MM/yyyy hh:mm a'}}</time>

      </div>
    </li>

  </ul>

  <div class="flex flex-col items-center pt-4">
    <!-- Help text -->
    <span class="text-sm text-gray-700 dark:text-gray-700">
        Page <span class="font-semibold text-gray-900 dark:text-gray-700">{{currentPage}}</span> of <span
            class="font-semibold text-gray-900 dark:text-gray-700">{{totalPages}}</span>
    </span>
    <div class="inline-flex mt-2 xs:mt-0">
        <!-- Buttons -->
        <button (click)="previousPage()" [disabled]="!hasPrevious"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                    clip-rule="evenodd"></path>
            </svg>
            Prev
        </button>
        <button (click)="nextPage()" [disabled]="!hasNext"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-gray-800 border-0 border-l border-gray-700 rounded-r hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            Next
            <svg aria-hidden="true" class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>
</div>
</div>