<ngx-spinner type="ball-spin-clockwise">
    <div class="flex h-screen m-auto items-center justify-center ">
        <div class="w-40 h-40 border-t-4 border-b-4 border-cyan-700 rounded-full animate-spin"></div>
    </div>
  </ngx-spinner>
<div class="flex min-h-full">
    <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24 -mt-6">
        <div class="mx-auto w-full max-w-sm lg:w-96">
            <div>
                <img routerLink="" class="mx-auto h-40 w-40" src="./assets/img/Lovepik_com-400262015-green-plants-hand-painted-leaves.png"
                    alt="Your Company">
                <h2 class="-mt-8  text-3xl font-bold tracking-tight text-gray-900">Verify your account</h2>
            </div>

            <div class="mt-8">
                <div class="mt-6">
                    <form action="#" method="POST" class="space-y-6">
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                            <div class="mt-1">
                                <input  [(ngModel)]="_email" id="email" name="email" type="email" autocomplete="email" required
                                    class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="space-y-1">
                            <label for="token" class="block text-sm font-medium text-gray-700">Token</label>
                            <div class="mt-1">
                                <input [(ngModel)]="_token" id="token" name="token" type="text" 
                                    required
                                    class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                    <p *ngIf="_token.length<6" class="text-xs text-red-700 text-right italic font-extralight
                                    ">(Must be 6 digits)</p>
                            </div>
                        </div>
                          <p *ngIf="message" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> wrong input!</p>
                        <div>
                            <button (click)="verifyUser()" type="submit"
                            class="block w-full rounded-md bg-gradient-to-r from-teal-500 to-cyan-600 py-3 px-4 font-medium text-white shadow hover:from-teal-600 hover:to-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:ring-offset-2 focus:ring-offset-gray-900">Verify
                                </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block flex h-screen ">
        <img class="absolute inset-0 h-full w-full object-cover"
            src="https://images.unsplash.com/photo-1520333789090-1afc82db536a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80"
            alt="">
    </div>
</div>

