<app-nav-bar></app-nav-bar>
<ngx-spinner type="ball-spin-clockwise">
    <div class="flex h-screen m-auto items-center justify-center ">
        <div class="w-40 h-40 border-t-4 border-b-4 border-cyan-700 rounded-full animate-spin"></div>
    </div>
</ngx-spinner>
<div class="flex flex-col h-screen justify-between bg-white">
    <div>
        <div class="mx-4 my-2">
            <form [formGroup]="newBlogPostForm" (ngSubmit)="onSubmit()" class="space-y-6">
                <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                    <div class="space-y-6  sm:space-y-5">
                        <div class="space-y-6 sm:space-y-5">
                            <div
                                class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                                <label for="cover-photo"
                                    class="block pl-3 pr-3 text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Cover
                                    photo</label>
                                <div class="mt-1 sm:col-span-2 sm:mt-0">
                                    <div
                                        class="flex max-w-lg justify-center rounded-sm border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                                        <div class="space-y-1 text-center">
                                            <label for="file-upload" class="relative cursor-pointer">
                                                <svg aria-hidden="true" class="w-12 h-12 mx-auto text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                                <span class="pl-1 text-sm text-center text-semibold text-red-700"
                                                [innerHTML]="message"></span>
                                            <p class="px-auto text-sm text-center text-semibold"
                                                [innerHTML]="filename ? filename : 'attach a file'"></p>
                                            <p class="text-xs text-gray-500">JPG, PNG, JPEG up to 10MB</p>
                                                <input type="file" (change)="onFileSelected($event)" name="CoverImage"
                                                    id="file-upload" accept=".jpg, .jpeg, .png" class="sr-only">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                                <div class="mt-1">
                                    <input formControlName="title" placeholder="The Rise of Gru." id="title" type="text"
                                        class="block w-full appearance-none rounded-sm border border-gray-300 px-3 py-4 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                    <p *ngIf="newBlogPostForm.controls['title'].invalid && newBlogPostForm.controls['title'].touched"
                                        class="text-xs text-red-700 text-right italic font-extralight">(At least 10
                                        characters)</p>
                                </div>
                            </div>

                            <div>
                                <label for="summary" class="block text-sm font-medium text-gray-700">Summary</label>
                                <div class="mt-1">
                                    <textarea formControlName="summary"
                                        placeholder="The story of Gru and his lovely minions." id="summary" type="text"
                                        class="block w-full appearance-none rounded-sm border border-gray-300 px-3 py-4 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"></textarea>
                                    <p *ngIf="newBlogPostForm.controls['summary'].invalid && newBlogPostForm.controls['summary'].touched"
                                        class="text-xs text-red-700 text-right italic font-extralight">(At least 20
                                        characters)</p>
                                </div>
                            </div>

                            <div>
                                <label for="body" class="block text-sm font-medium text-gray-700">Body</label>
                                <div class="mt-1">
                                    <textarea formControlName="body"
                                        placeholder="In no less than 100 characters, express your thoughts."
                                        id="description" type="text"
                                        class="block w-full appearance-none rounded-sm border border-gray-300 px-3 py-4 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"></textarea>
                                    <p *ngIf="newBlogPostForm.controls['body'].invalid && newBlogPostForm.controls['body'].touched"
                                        class="text-xs text-red-700 text-right italic font-extralight">(100 - 30000
                                        characters)</p>
                                </div>
                            </div>
                            <div class="space-y-1">
                                <label for="tags" class="block text-sm font-medium text-gray-700">Tags</label>
                                <div class="mt-1">
                                    <input formControlName="tags" placeholder="Cartoon,Funny,Laugh" id="tags"
                                        type="text" required
                                        class="block w-full appearance-none rounded-sm border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                    <p *ngIf="newBlogPostForm.controls['tags'].invalid && newBlogPostForm.controls['tags'].touched"
                                        class="text-xs text-red-700 text-right italic font-extralight">(At least 6
                                        characters)</p>
                                </div>
                            </div>
                            <div class="space-y-1">
                                <label for="categoryName"
                                    class="block text-sm font-medium text-gray-700">Category</label>
                                <div class="mt-1">
                                    <input formControlName="categoryName" placeholder="Animation" id="categoryName"
                                        type="categoryName" required
                                        class="block w-full appearance-none rounded-sm border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                    <p *ngIf="newBlogPostForm.controls['categoryName'].invalid && newBlogPostForm.controls['categoryName'].touched"
                                        class="text-xs text-red-700 text-right italic font-extralight">(At least 3
                                        characters)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <p *ngIf="message" class="my-2 mx-2 text-sm text-red-600 dark:text-red-500"><span
                    class="font-medium">Oops!</span> {{message}}!</p>

            <button [disabled]="newBlogPostForm.invalid" (click)="onSubmit()"
                class="mr-3 mt-6 block w-32 max-w-lg rounded-sm flex divide-x divide-gray-200 bg-gradient-to-r from-teal-500 to-cyan-600 text-white shadow hover:from-teal-600 hover:to-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:ring-offset-2  focus:ring-offset-gray-900">
                <div class="flex w-0 flex-1">
                    <a
                        class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center rounded-bl-sm border border-transparent py-4 text-sm font-medium text-white hover:text-gray-500">
                        <svg class="text-white mr-2 h-5 w-5 " data-darkreader-inline-stroke="" fill="none"
                            stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path
                                d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <span class="text-white text-base">Publish</span>
                    </a>
                </div>
            </button>
        </div>

        <div *ngIf="_showMore" aria-orientation="horizontal" aria-labelledby="confirm-delete" tabindex="-1"
            class="modal-backdrop">
            <div class="modal border-2 border-gray-100">
                <div class="modal-content">
                    <div class="p-6 text-center">
                        <svg
                            class="h-14 w-14 mx-auto text-green-600"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M5 13l4 4L19 7"
                            ></path>
                        </svg>
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-800">{{msg}}</h3>
                        <button routerLink="/my-article" data-modal-hide="popup-modal" type="button"
                            class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 mr-3 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 bg-gradient-to-r from-teal-500 to-cyan-600 text-white shadow hover:from-teal-600 hover:to-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:ring-offset-2 focus:ring-offset-gray-900">Go
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer class="sticky top-[100vh]"></app-footer>
</div>