<app-nav-bar></app-nav-bar>
<ngx-spinner type="ball-spin-clockwise">
    <div class="flex h-screen m-auto items-center justify-center ">
        <div class="w-40 h-40 border-t-4 border-b-4 border-cyan-700 rounded-full animate-spin"></div>
    </div>
</ngx-spinner>

<div class="flex flex-col h-screen justify-between bg-white">
    <div class="flex-grow">
        <div class="bg-black" >
            <div *ngIf="articles.postId==postId" class="relative overflow-hidden bg-white" >
                <div class="bg-white pt-10 sm:pt-16 lg:overflow-hidden lg:pt-8 lg:pb-14">
                    <div class="mx-auto -mt-20 max-w-7xl lg:px-8 bg-white"  id="contentToConvert">
                        <div class="relative overflow-hidden rounded-sm text-gray-700 py-16">
                            <div
                                class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
                                <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
                                    <svg class="absolute top-12 left-full translate-x-32 transform" width="404"
                                        height="384" fill="none" viewBox="0 0 404 384">
                                        <defs>
                                            <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20"
                                                height="20" patternUnits="userSpaceOnUse">
                                                <rect x="0" y="0" width="4" height="4" class="text-gray-900"
                                                    fill="currentColor" />
                                            </pattern>
                                        </defs>
                                        <rect width="404" height="384"
                                            fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
                                    </svg>
                                    <svg class="absolute right-full -translate-y-1/2 -translate-x-32 transform"
                                        width="404" height="384" fill="none" viewBox="0 0 404 384">
                                        <defs>
                                            <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20"
                                                height="20" patternUnits="userSpaceOnUse">
                                                <rect x="0" y="0" width="4" height="4" class="text-gray-900"
                                                    fill="currentColor" />
                                            </pattern>
                                        </defs>
                                        <rect width="404" height="384"
                                            fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
                                    </svg>
                                </div>
                            </div>

                            <div class="relative px-6 lg:px-8" >
                                <div class="mx-auto max-w-prose text-lg">
                                    <h1>
                                        <span
                                            class="block bg-clip-text text-white sm:pb-5 mt-2 mb-2  text-center text-2xl font-bold leading-8 tracking-tight text-gray-800 sm:text-2xl ">Introducing</span>
                                        <span
                                            class="block bg-clip-text text-white sm:pb-5 mt-2 mb-2  text-center text-3xl font-bold leading-8 tracking-tight text-gray-800 sm:text-4xl">{{articles.title}}</span>
                                    </h1>
                                    <figure>
                                        <img class="w-full rounded-lg"
                                            src="http://localhost:5259/static/images/{{articles.coverImagePath}}" alt=""
                                            width="1310" height="873">
                                        <br />
                                        <figcaption class="text-sm text-gray-800 font-medium text-gray-800">By: {{articles.authorsName}}
                                        </figcaption>
                                        <figcaption class="text-sm font-medium text-gray-800">
                                            {{articles.category.categoryName}}</figcaption>
                                        <figcaption class="text-sm italic font-medium text-gray-800">{{articles.tags}}
                                        </figcaption>
                                        <time class="text-sm font-medium text-gray-800">{{articles.dateCreated | date :
                                            'dd/MM/yyyy hh:mm a'}}</time>
                                    </figure>
                                    <p class="mt-8 text-xl font-semibold text-center leading-8 text-gray-800">
                                        {{articles.summary}}</p>
                                </div>
                                <div class="prose prose-lg prose-indigo mx-auto mt-4 pb-2 text-gray-800">
                                    <p class="break-words text-justify text-base">{{articles.body}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="sticky top-[100vh] block w-auto max-w-lg rounded-sm flex divide-x divide-gray-200 bg-gradient-to-r from-teal-500 to-cyan-600 text-white shadow hover:from-teal-600 hover:to-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:ring-offset-2  focus:ring-offset-gray-900 mx-2">
            <button (click)="downloadPDF()" class="flex w-0 flex-1  hover:bg-gray-800">
                <a
                    class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center rounded-bl-lg border border-transparent py-4 text-sm font-medium text-white hover:text-gray-500">
                    <svg class="text-white mr-2 h-5 w-5 " data-darkreader-inline-stroke="" fill="none"
                        stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true">
                        <path
                            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="text-base text-white">Download</span>
                </a>
            </button>
            <button (click)="goBack()" id="confirm-delete" aria-expanded="false" aria-haspopup="true"
                class="flex w-0 flex-1 hover:bg-gray-800">
                <a
                    class="relative inline-flex w-0 flex-1 items-center justify-center rounded-br-sm border border-transparent py-4 text-sm text-white font-medium text-white hover:text-gray-500">
                    <svg class="text-white mr-2 h-5 w-5 " data-darkreader-inline-stroke="" fill="none"
                        stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true">
                        <path d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                    <span class="text-white text-base">Go Back</span>
                </a>
            </button>
        </div>
    </div>
    <app-footer class="sticky top-[100vh]"></app-footer>
</div>