<app-nav-bar></app-nav-bar>
<div>
<div *ngIf="isUserAuthenticated()" class="bg-black" >
    <div *ngFor="let article of articles" class="bg-black rounded-md pt-2 lg:py-6">
            <div routerLink="/article/{{article.postId}}"
                class="relative overflow-hidden rounded-xl bg-gradient-to-r from-teal-500 to-cyan-600 py-3 px-6 font-medium text-white shadow hover:from-teal-600 hover:to-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:ring-offset-2 focus:ring-offset-gray-900 py-24 px-8 shadow-2xl lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-16">
                <div class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                    <img src="http://localhost:5259/static/images/{{article.coverImagePath}}"
                        alt="" class="h-full w-full object-cover">
                </div>
                <div class="relative lg:col-span-1">
                    <blockquote class="mt-6 text-white">
                        <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-2xl">{{article.title}}
                        </p>
                        <footer class="mt-6">
                            <p class="flex flex-col font-medium">
                                <span class="text-base  text-gray-200 sm:text-xl lg:text-lg xl:text-xl">{{article.summary}}</span>
                                <br/>
                                <span class="text-sm font-medium text-white">Author: {{article.authorsName}}</span>
                                <span class="text-sm font-medium text-white">Category: {{article.category.categoryName}}</span>
                                <span class="text-sm font-medium text-white">Tags: {{article.tags}}</span>
                                <time class="text-sm font-medium text-white">{{article.dateCreated | date : 'dd/MM/yyyy hh:mm a'}}</time>
                            </p>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>



